/* #region utilities */

:root
{
    --fra-primary: #1b72e8;
    --fra-back: #f8f9fa;
    --fra-cardt: #f7f7f7;
    --fra-cardb: #ffffff;
    --fra-icon: #5b5858;
    --fra-bell: #ff8f00;
}

/* #endregion utilities */